/* color: #63CFD2; */
body {
    max-width: 800px;
    margin: 0 auto;
}

.list {
    border: 2px solid #042324;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    width: 90%;
    margin: 50px auto;
    background-color: #eeeeee;
}

h1 {
    text-align: center;
    color: #2e2e2e;
}

.add a {
    text-decoration: none; 
    color: white;  
}

.add {
    background-color: #4ba2a5;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.add:hover {
    background-color: #377274;
}

.item:nth-child(2n+1) {
    background-color: white;
}

.item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #2e2e2e;
    align-items: center;
}

.editing-label {
    padding: 8px;
    font-size: 14px;
}

.delete {
    text-decoration: none;
    color: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
}

.delete:hover {
    background-color: #bd0404;
    color: white;
}
.completed {
    text-decoration: line-through;
}
